<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="debug_management" xsi:type="object">Auctane\Api\Console\Command\DebugManagementCommand
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Auctane\Api\Plugin\CsrfValidatorSkip"/>
    </type>

    <type name="Auctane\Api\Controller\Auctane\Index">
        <plugin name="auctane_index" type="Auctane\Api\Plugin\Controller\Auctane\IndexPlugin"/>
    </type>

    <virtualType name="Auctane\Api\Model\ActionLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string"><![CDATA[var/log/auctane_api.log]]></argument>
        </arguments>
    </virtualType>

    <virtualType name="Auctane\Api\Model\ActionLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">auctane_api</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Auctane\Api\Model\ActionLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Auctane\Api\Controller\Auctane\Index">
        <arguments>
            <argument name="logger" xsi:type="object">Auctane\Api\Model\ActionLogger</argument>
        </arguments>
    </type>

    <preference for="Auctane\Api\Api\ConfigureShipstationInterface" type="Auctane\Api\Model\ConfigureShipstation"/>
    <preference for="Auctane\Api\Api\CheckInterface" type="Auctane\Api\Model\Check"/>

</config>
